/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

.main-menu ul li a {
  padding: 45px 18px;
}
    .slider-content h2 {
  font-size: 40px;
}
.features-area {
  padding-top: 100px;
    margin-top: 0;
}

}
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.header-area {
  padding: 20px;
}
    .slider-content h2 {
  font-size: 40px;
}
.features-area {
  padding-top: 100px;
    margin-top: 0;
}
    .subscribe-area form input {
  width: 22%;
}
    .single-service{
  margin-bottom: 30px;
}
    .prising-wrapper {
  width: 30%;
}
}

 
/* Extra small Device. */
@media (max-width: 767px) {
    .slider-content h2 {
  font-size: 25px;
}
 .single-features {
  border-bottom: 1px solid #f1f3f3;
     border-right: 0;
}
    .features-area {
  padding-top: 100px;
    margin-top: 0;
}
    .inner-menu{
    text-align: left;
}
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}